<h1>Rock Paper scissors!!</h1>

<p>let's play rock paper scissors!</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="userInput">user input</label>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-info">did you win?</button>
</form>
